<html xmlns:th="http://thymeleaf.org">
<head>
		<title>Transaction Details</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
		<link rel="stylesheet" href="/css/transaction-details.css"/>
</head>
<body>
		<div class="transaction-details" th:if="${transaction != null}">
			<h1 class="transaction-header">
				Transaction ID: <span th:text="${transaction.id}"></span> 
				(<span th:text="${transaction.type == 'C' ? 'Credit' : 'Debit'}"></span>)
				</h1>
				<div>
					<p><strong>Date:</strong> <span th:text="${transaction.date}"></span></p>
					<p><strong>Amount:</strong> 
						<span th:if="${transaction.type == 'C'}">-</span>
						<span th:text="${transaction.amount}"></span></p>
					<p><strong>Description:</strong> <span th:text="${transaction.description}"></span></p>
				</div>
			<a href="/transactions">Back</a>
		</div>
		
		<div th:if="${transaction == null}">
			<p>Transaction not found.</p>
		</div>
</body>
</html>
	